<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<!-- Console Appender -->
		<console name="Console" target="SYSTEM_OUT">
			<patternlayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %C{1} - %msg%n" />
		</console>

		<!-- General File Appender -->
		<file name="FileLogger" filename="logs/valid.html" append="true">
			<filters>
				<!-- Exclude ERROR and FATAL logs -->
				<thresholdfilter level="error" onMatch="DENY"
					onMismatch="ACCEPT" />
			</filters>
			<patternlayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %C{1} - %msg%n" />
		</file>

		<!-- Error File Appender -->
		<file name="ErrorFileLogger" filename="logs/error.html"
			append="true">
			<filters>
				<!-- Include only ERROR and FATAL logs -->
				<thresholdfilter level="error" onMatch="ACCEPT"
					onMismatch="DENY" />
			</filters>
			<patternlayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %C{1} - %msg%n" />
		</file>
	</appenders>

	<loggers>
		<!-- Logger for com.demoproject (specify the package name here) -->
		<logger name="com.orangehrm" level="trace" additivity="false">
			<appenderref ref="Console" />
			<appenderref ref="FileLogger" />
			<appenderref ref="ErrorFileLogger" />
		</logger>

	</loggers>
</configuration>
        