<?xml version="1.0" encoding="UTF-8"?>
<suite name="OrangeHRMSuite" parallel="classes" thread-count="5">
<listeners>
<listener class-name="com.orangeHRM.listeners.TestListener"></listener>
</listeners>
	<test thread-count="5" name="OrangeHRMSuite">
		<classes>
			<!--<class name="com.orangeHRM.test.DummyClass "/>
			<class name="com.orangeHRM.test.DummyClass2"/>
			<class name="com.orangeHRM.test.LoginPageTest"/>
			<class name="com.orangeHRM.test.HomePageTest"/>-->
			<class name="com.orangeHRM.test.DBVerificationTest"/>
			<class name="com.orangeHRM.test.ApiTest"/>
		
		</classes>
	</test> 
		
</suite> 

